<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>注册</title>

<!-- Bootstrap core CSS-->
<link href="../../statics/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">

<!-- Custom fonts for this template-->
<link href="../../statics/vendor/fontawesome-free/css/all.min.css"
	rel="stylesheet" type="text/css">

<!-- Custom styles for this template-->
<link href="../../statics/css/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-dark">

	<div class="container">
		<div class="card card-register mx-auto mt-5">
			<div class="card-header">用户注册</div>
			<div class="card-body">
			<span style="color: red">#(message)</span>
				<form action="/user/register" method="post">
					<div class="form-group">
						<div class="form-label-group">
							<input type="text" name="user.userName" id="firstName"
								class="form-control" value="#(user.userName??)" placeholder="用户名" required="required"
								autofocus="autofocus"> <label for="firstName">用户名</label>
						</div>
						<span style="color: red">#(userMsg)</span>
					</div>
					<div class="form-group">
						<div class="form-label-group">
							<input type="password" name="user.password" name="#(user.password??)" id="inputPassword"
								class="form-control" placeholder="密码" required="required">
							<label for="inputPassword">密码</label>
						</div>
						  <span style="color:red">#(pwdMsg)</span>
					</div>
					<div class="form-group">
						<div class="form-label-group">
							<input type="password" name="password2" id="confirmPassword"
								class="form-control" placeholder="确认密码" required="required">
							<label for="confirmPassword">确认密码</label>
						</div>
						  <span style="color:red">#(pwd2Msg)</span>
					</div>
					<div class="form-group">
						<div class="form-label-group">
							<div class="form-row">
								<div class="col-md-2">
									<label>性别：</label>
								</div>
								<div class="col-md-10">
									<select class="form-control" name="user.gender">
										<option value="0">男</option>
										<option value="1">女</option>
									</select>
								</div>
							</div>
 						</div>
					</div>
					<a class="btn btn-primary btn-block"
						href="javascript:$('form').submit()">注册</a>
				</form>
				<div class="text-center">
					<a class="d-block small mt-3" href="/user">登录</a>
					<!-- <a
						class="d-block small" href="forgot-password.html">忘记密码?</a> -->
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="../../statics/vendor/jquery/jquery.min.js"></script>
	<script src="../../statics/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="../../statics/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
